<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include('../views/layout/layout') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Klasifikasi'],
          ['Positif', <%= numOfPositif %>],
          ['Negatif', <%= numOfNegatif %>],
          ['Netral',  <%= numOfNetral %>]
        ]);

        var options = {
          title: 'Hasil Klasifikasi'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
      $( function() {
          $( "#datepicker1" ).datepicker({ minDate: -7, maxDate: "0", dateFormat: 'yy-mm-dd' }).val();
          $( "#datepicker2" ).datepicker({ minDate: -7, maxDate: "0", dateFormat: 'yy-mm-dd' }).val();
        } );
    </script>
  </head>
  <body>
    <div class="container">
      <header class="jumbotron hero-spacer">
        <h1>Selamat Datang</h1>
        <p>Silahkan masukkan keyword tweet dikolom pencarian</p>
      </header>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/tweet" method="post">
            <div class="input-daterange input-group">
                <input type="text" class="input-sm form-control" name="start" id="datepicker1" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" id="datepicker2"/>
            </div>
            <input class="form-control mr-sm-2" type="text" data-toggle="tooltip" data-placement="top" title="Silahkan masukkan keyword" placeholder="Search" name="tag" id="tag">
            <button class="btn btn-outline-success my-2 my-sm-0"type="submit">Search</button>
          </form>
        </div>
      </nav>
      </br>
      <div class="row">
        <div class="col-sm-9">
            <p>Data tweet dengan keyword <%- data %></p>
            <div class="pre-scrollable" width="50">
              <table class="table">
              <% for(var i = 0; i<hasil.tweet.length; i++){ %>
                <tbody>
            <tr>
            <td>
              <%= hasil.tweet[i] %> 
              <% if(hasil.klasifikasi[i] == 'negatif'){%>
              <p class="text-danger"><%= hasil.klasifikasi[i] %> 
              <% }if(hasil.klasifikasi[i] == 'positif'){%>
              <p class="text-success"><%= hasil.klasifikasi[i] %> 
              <% }if(hasil.klasifikasi[i] == 'netral'){%>
              <p class="text-info"><%= hasil.klasifikasi[i] %> 
              <% } %>
              <%= JSON.stringify(hasil.bilanganklasifikasi[i]) %> </p>
              <% } %>
              </td>
      </tr>
    </tbody>
  </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="total"></div>
            <div id="piechart"></div>
        </div>
      </div>
      <%- include('../views/layout/footer') %>
    </div>
  </body>
</html>
